@import '../../assets/style/variables';

.breadcrumb-background {
    background: $light-gray;
    padding: 10px;
}
.breadcrumb-container {
    max-width: $app-width;
    margin: 0 auto;

    & .breadcrumb-container_home {
        font-size: 1.4em;
        color: $green;
    }

    & .breadcrumb-container_arrow {
        font-size: .8em;
        padding: 0 10px;
        color: $green;
    }
}