@import '../../assets/style/variables';

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    max-width: $app-width;
    margin: 0 auto;
    padding: 40px 10px;
}
.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .header-logo_box {
        background: $green;
        border-radius: 6px;
        padding: 5px;

        & i {
            font-size: 2.2em;
            color: #fff;
        }
    }

    & .header-logo_title {
        font-size: 2em;
        font-weight: bold;
        margin-left: 20px;
    }
}
.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & .header-user_name {
        font-size: 1.2em;
        margin-left: 10px;
    }
}

@media screen and (max-width: 700px) {
    .header-user {
        margin-top: 20px;
    }
}