@import '../../assets/style/variables';

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $light-gray;
    border-radius: 50%;
}
.radio-container:hover input ~ .radio-checkmark {
    background-color: $gray;
}
.radio-container input:checked ~ .radio-checkmark {
    background-color: $green;
}
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}
.radio-container .radio-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}